<div class="content">
  <div class="indent">

    <h1 class="BlockLetter"><span class="huge shadow">REELY </span><span class="med_text yellow">  Find your next film</span></h1> 
    <div class="white credits">
      <h2>Search for an actors or directors best... or worst movies</h2>
      <div class="">
        <div class="border ital">
          <p>* Searches must be an exact match</p>
          <p>* Follow links to browse movies by the director or actors in the same cast</p>
          <p>* Logged in users can save movies to their profile</p>
        </div>
        <br>
        <h2>Please allow a few moments for loading as movie data is populated from multiple APIs</h2>
      </div>
    </div>

  </div>
</div>