/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @font-face {
   font-family: 'BlockLetter';
   src: url('Blockletter.otf');
 }
@font-face {
  font-family: 'DeathStar';
  src: url('Death\ Star.otf');
}
@font-face {
   font-family: 'DurangoWestern';
   src: url('Durango\ Western\ Eroded\ Demo.otf');
}
@font-face {
   font-family: 'MovieFilmStrip';
   src: url('Movie\ Filmstrip.ttf');
}
@font-face {
   font-family: 'RoadMovie';
   src: url('ROADMOVIE\ TRIAL___.ttf');
}
@font-face {
   font-family: 'Credits';
   src: url('CreatorCreditsBB.ttf');
}

.BlockLetter {
  font-family: 'BlockLetter';
}

.RoadMovie {
  font-family: 'RoadMovie'
}
.credits {
  font-family: 'Credits'
}
.huge {
  font-size: 100px;
}
.shadow {
  text-shadow: 4px 3px goldenrod;
}

.background img {
  z-index: -1;
  position:fixed;
  width: 105vw;

  /* opacity:0.9; */
  transform: scaleX(-1);
  background-size: cover;
}
.grid-3 {
  display: grid;
  /* grid-row-gap: 40px; */
  grid-template-columns: 250px 40vw auto;
  padding: 10px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 2px;
  border: 0.5px solid goldenrod;
}
.grid-2 {
  display: grid;
  grid-template-columns: 200px 200px;
}
.padded {
  padding-bottom: 10px;
}
.ratings {
  border-collapse: separate;
  /* border-spacing: 50px; */
}
.ratings td {
  padding: 0 20px;
  left: 0;
}

body{
  color:white;
  background: black;
  background-image: url("https://i.pinimg.com/originals/d8/21/18/d82118622556ca08f26d20e45856029a.jpg");
  font-family: helvetica;
}

.next_button {
  background-color: black;
  color:white;
  font-weight: bold;
  height: 30px;
  width: 120px;
}
.btn {
  color:black;
  background-color: goldenrod;
  text-decoration:none;
  padding: 11px;
  border: 3px;
  border-radius: 5px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.btn:hover {
  background-color:teal;
  color: black;
}
.main_menu {
  font-family:"Arial";
  /* background-color:black; */
  overflow:hidden;
  height: 40px;
  width: 200vw;
  position:fixed;
  z-index: +1
 }
.content {
  position:relative;
  top: 50px;
  /* overflow:hidden; */
  overflow: scroll;
  height: 90vh;
}
.ital {
  font-style: italic;
}
.actor-link {
  background-color: rgba(0,0,0,0);
  color: goldenrod;
  border: 0;
  /* font-weight:bold; */
  text-decoration: none;

}
.actor-link:hover{
  text-decoration: underline;
}
.oneline {
  white-space: nowrap;
  display: inline;
}
.marged {
  margin-right: 20px;
}
.height-20 {
  height: 20px;
}
.btn-20 {
  color:black;
  background-color: goldenrod;
  text-decoration:none;
  padding: 3px;
  border: 3px;
  border-radius: 5px;
}
.btn-20:hover {
  background-color: teal;
  color: black;
}
.menu-button {
  float: left;
}
.menu-link {
  position: relative;
  float: left;
  text-decoration: none;
}
.user-message {
  margin-top:1px;
  margin-bottom: 1px;
  margin-left: 70vw;
  color: #e9c318;
  font-style: italic;
  font-weight: bold;
}

.transparent {
  background:transparent;
  border:none;
  color: white;
}
.transparent:hover {
    color: #e9c318;
  }
.yellow {
  color: #e9c318;
  font-style: italic;
}
.white {
  color: white;
}
.indent {
  padding: 30px;
}
.small {
  font-size: small;
}
.border {
  /* grid-row-gap: 40px; */
  padding: 10px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 2px;
  border: 0.5px solid goldenrod;
  width: 600px;
}
/* .nav-tabs .nav-item {
  margin-bottom: -1px;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #64a19d;
}

.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
} */