/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 /* @font-face {
   font-family: 'BlockLetter';
   src: font-url('Blockletter.otf');
 }
@font-face {
  font-family: 'DeathStar';
  src: font-url('Death\ Star.otf');
}
@font-face {
   font-family: 'DurangoWestern';
   src: font-url('Durango\ Western\ Eroded\ Demo.otf');
}
@font-face {
   font-family: 'MovieFilmStrip';
   src: font-url('Movie\ Filmstrip.ttf');
}
@font-face {
   font-family: 'RoadMovie';
   src: font-url('ROADMOVIE\ TRIAL___.ttf');
}
@font-face {
   font-family: 'Credits';
   src: font-url('CreatorCreditsBB.ttf');
}
@font-face {
   font-family: 'anodina-light';
   src: font-url('Anodina-Light.otf');
} */

/* .BlockLetter {
  font-family: 'Arial';
}

.RoadMovie {
  font-family: 'Arial'
}
.credits {
  font-family: 'Arial'
}
.arial {
  font-family: 'Arial'
} */
.huge {
  font-size: 100px;
}
.shadow {
  text-shadow: 4px 3px goldenrod;
}

.background img {
  z-index: -1;
  position:fixed;
  width: 105vw;

  /* opacity:0.9; */
  transform: scaleX(-1);
  background-size: cover;
}
.grid-3 {
  display: grid;
  /* grid-row-gap: 40px; */
  grid-template-columns: 250px 40vw auto;
  padding: 10px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 2px;
  border: 0.5px solid goldenrod;
}
.border {
  padding: 10px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 2px;
  border: 0.5px solid goldenrod;
  margin-right: 5vw;
}
.grid-2 {
  display: grid;
  grid-template-columns: 200px 200px;
}
.top {
  position:relative;
  margin-top: 0px;
}
.comment-pad {
  margin-top: 15px;
}
.grid-2-small {
  display: grid;
  grid-template-columns: 100px 100px;
}
.grid {
  display: grid
}
.grid-3-comment {
  grid-template-columns: 100px 600px 100px;
}
.padded {
  padding-bottom: 10px;
}
.pad-left {
  padding-left: 200px;
}
.ratings {
  border-collapse: separate;
  /* border-spacing: 50px; */
}
.ratings td {
  padding: 0 20px;
  left: 0;
}

body{
  color:white;
  background: black;
  background-image: url("https://i.pinimg.com/originals/d8/21/18/d82118622556ca08f26d20e45856029a.jpg");
  /* font-family: 'anodina-light'; */
}

.next_button {
  background-color: black;
  color:rgb(131, 123, 123);
  font-weight: bold;
  height: 30px;
  width: 120px;
}
.btn {
  color:black;
  background-color: goldenrod;
  text-decoration:none;
  padding: 11px;
  border: 3px;
  border-radius: 5px;
}
.btn-outline {
  color:goldenrod;
  background: transparent;
  text-decoration:none;
  padding: 11px;
  border: 2px white solid;
  border-radius: 5px;
}
.btn-outline:hover {
  color:teal;
  background: transparent;
  text-decoration:none;
  padding: 11px;
  border: 2px teal solid;
  border-radius: 5px;
}

.left {
  float: left;
  margin-left: 5px;
}
.right {
  float: right;
}
.btn:hover {
  background-color:teal;
  color: black;
}
.main_menu {
  font-family:"arial";
  /* background-color:black; */
  overflow:hidden;
  height: 40px;
  width: 200vw;
  position:fixed;
  z-index: +1
 }
.movie-link {
  border: none;
  text-decoration: underline;
  color: goldenrod;
  background-color: transparent;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}
.movie-link:hover {
  color: teal;
}
.trailer {
  margin-top: 60px;
}

.inline {
  display: inline;
  position: relative;
  float: left;
}
.content {
  position:relative;
  top: 50px;
  /* overflow:hidden; */
  overflow: scroll;
  height: 90vh;
  font-family: "arial"
}
.ital {
  font-style: italic;
}
.actor-link {
  background-color: rgba(0,0,0,0);
  color: goldenrod;
  border: 0;
  /* font-weight:bold; */
  text-decoration: none;
}
.no-decoration {
  text-decoration: none;
  color: goldenrod
}
.actor-link:hover{
  text-decoration: underline;
  color: teal;
}
.oneline {
  white-space: nowrap;
  display: inline;
}
.marged {
  margin-right: 20px;
}
.height-20 {
  height: 20px;
}
.btn-20 {
  color:black;
  background-color: goldenrod;
  text-decoration:none;
  padding: 3px;
  border: 3px;
  border-radius: 5px;
}
.btn-20:hover {
  background-color: teal;
  color: black;
}
.link-title {
  color: goldenrod;
}
.link-title:hover {
  color: teal;
}
.menu-button {
  float: left;
}
.menu-link {
  position: relative;
  float: left;
  text-decoration: none;
}
.comment-content {
  background: rgba(88, 87, 87, 0.425);
}
.marg-5 {
  margin: 5px;
}
.pad-top-5 {
  padding-top: 5px;
}
.pad-right-5 {
  margin-right: 5px;
}
.user-message {
  margin-top:1px;
  margin-bottom: 1px;
  margin-left: 80vw;
  color: #e9c318;
  font-style: italic;
  font-weight: bold;
}

.transparent {
  background:transparent;
  border:none;
  color: white;
}

.transparent:hover {
    color: #e9c318;
  }
.yellow {
  color: #e9c318;
  font-style: italic;
}
.white {
  color: white;
}
.indent {
  padding-left: 30px;
}
.small {
  font-size: small;
}
.stream-table {
  border-collapse: separate;
  border-spacing: 50px 0;
}
.border {
  /* grid-row-gap: 40px; */
  padding: 10px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 2px;
  border: 0.5px solid goldenrod;
  margin-right: 1px;
  position:relative;
  height: auto;
}
.underline {
  border-bottom: 0.5px solid rgb(71, 59, 8);
  margin-bottom: 10px;
}
.med_text {
  font-size: 25px !important;
  
}

#loader-wrapper .loader-section {
  position: fixed;
  top:0;
  width: 51%;
  height: 100%; 
  background: #222;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
#loader-wrapper {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  z-index:1000;
}
#loader {
  display:block;
  position: relative;
  left:50%;
  top:50%;
  width:150px;
  height:150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;

  -webkit-animation: spin 2s linear infintite;
  animation: spin 2s linear infinite;
  z-index: 1001;

}

  #loader:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e743c3;

    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }

  #loader:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }

  @-webkit-keyframes spin {
    0%  {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100%  {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0%  {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100%  {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
.loaded #loader-wrapper .loader-section.loader-left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.loaded #loader-wrapper .loader-section.loader-right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.loaded #loader {
  opacity: 0;
}
.loaded #loader-wrapper {
  visibility: hidden;
}
.profile-picture {
  height: 40px;
  padding-left: 10px;
}
.top-border {
  border-radius: 2px;
  border-top: 0.5px solid white;
}

/* .nav-tabs .nav-item {
  margin-bottom: -1px;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #64a19d;
}

.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
} */