/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.background img {
  z-index: -1;
  position:fixed;
  width: 105vw;

  /* opacity:0.9; */
  transform: scaleX(-1);
  background-size: cover;
}
.grid-container {
  display: grid;
  grid-row-gap: 40px;
  grid-template-columns: 250px 40vw auto;
  padding: 10px;
}

.ratings {
  border-collapse: separate;
  /* border-spacing: 50px; */
}
.ratings td {
  padding: 0 40px;
  left: 0;
}

body{
  color:white;
  background: black;
  background-image: url("https://i.pinimg.com/originals/d8/21/18/d82118622556ca08f26d20e45856029a.jpg");
  font-family: helvetica;
}